@mixin container ($xs: true, $sm: true, $md: true, $lg: true) { 

    @if ($xs) {
        @media (max-width: breakpoint(sm)) {
            padding-left: px-to-rem(19px);
            padding-right: px-to-rem(19px);
            @include marginCenter;
        }  
    }

    @if ($sm) {
        @media (min-width: breakpoint(sm)) and (max-width: breakpoint(md)) {
            padding-right: px-to-rem(24px);
            padding-left: px-to-rem(24px);
            @include marginCenter;
        }
    } 

    @if ($md) {
        @media (min-width: breakpoint(md)) and (max-width: breakpoint(lg)) {
            padding-right: px-to-rem(63px);
            padding-left: px-to-rem(63px);
            @include marginCenter;
        }
    }

    @if ($lg) {
        @media (min-width: breakpoint(lg)) {
            padding-right: px-to-rem(109px);
            padding-left: px-to-rem(109px);
            max-width: calc(#{$container_max} + 218px);
            @include marginCenter;
        }
    }
}

