body {
    // @include webFont;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #313830;
}
  
button{
    border: none;

    &:focus {
        outline: none;
    }
}