@mixin moduleSpacer ($xs: true, $sm: true, $md: true, $lg: true, $direction: 'both') { 

    @if ($xs) {
        @media (max-width: breakpoint(sm)) {
            @if ($direction == 'both' or $direction == 'top') {margin-top: 2rem;}
            @if ($direction == 'both' or $direction == 'bottom') {margin-bottom: 2rem;}
        }  
    }

    @if ($sm) {
        @media (min-width: breakpoint(sm)) and (max-width: breakpoint(md)) {
            @if ($direction == 'both' or $direction == 'top') {margin-top: 2rem;}
            @if ($direction == 'both' or $direction == 'bottom') {margin-bottom: 2rem;}
        }
    } 

    @if ($md) {
        @media (min-width: breakpoint(md)) and (max-width: breakpoint(lg)) {
            @if ($direction == 'both' or $direction == 'top') {margin-top: 3rem;}
            @if ($direction == 'both' or $direction == 'bottom') {margin-bottom: 3rem;}
        }
    }

    @if ($lg) {
        @media (min-width: breakpoint(lg)) {
            @if ($direction == 'both' or $direction == 'top') {margin-top: 4rem;}
            @if ($direction == 'both' or $direction == 'bottom') {margin-bottom: 4rem;}
        }
    }
}

